.grid-container {
  margin: 20px;
}

/* =========== */

.home .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  margin: 2em;
}
.home h3 {
  font-size: 1.4em;
  padding: 30px 5px;
}
.home a {
  color: black;
  text-decoration: none;
}
.home a:hover {
  color: red;
}
.home img {
  width: 250px;
}

/* =========== */

.movie .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: row;
}
.movie img {
  width: 400px;
}
.movie .review {
  border: solid 1px black;
}
.movie .movieinfo {
  width: 300px;
  padding: 5px;
  text-align: center;
  border: solid 1px black;
}
.movie .review {
  width: 300px;
  padding: 10px;
}
.movie .title, .username {
  font-size: 2em;
}
.movie .director, .studio, .genre {
  font-size: 1.6em;
}
.movie .cast, .description {
  font-size: 1.2em;
}
.movie button {
    background-color: #fff;
    width: 100px;
    margin: 0 18px
}
.movie button:hover {
  background-color: bisque;
  width: 100px;
  margin: 0 18px
}

